## W266 Final Project

In [1]:
import numpy as np
import pandas as pd
import re

In [34]:
movie1 = pd.read_fwf('./data/imsdb_scenes_dialogs_nov_2015/dialogs/Adventure/avatar_dialog.txt',
                    header=None, names=["RawLine"])
movie2 = pd.read_fwf('./data/imsdb_scenes_dialogs_nov_2015/dialogs/Adventure/1492conquestofparadise_dialog.txt',
                    header=None, names=["RawLine"])

#This is just tester code...
new_column = []

for i in movie1.index:
    if i < 10:
        new_column.append('Avatar')
    else:
        new_column.append('NA')

movie1['Title'] = new_column
        
movie1.head(n=15)

                                     RawLine   Title
0                                     AVATAR  Avatar
1                                 Written by  Avatar
2                              James Cameron  Avatar
3                               VOICE (V.O.)  Avatar
4           When I was lying there in the VA  Avatar
5    hospital, with a big hole blown through  Avatar
6    the middle of my life, I started having  Avatar
7                    these dreams of flying.  Avatar
8                               VOICE (V.O.)  Avatar
9    Sooner or later though, you always have  Avatar
10                             to wake up...      NA
11                                   CUT TO:      NA
12                               JAKE (V.O.)      NA
13  They can fix a spinal, if you've got the      NA
14    money. But not on vet benefits, not in      NA

In [12]:
def is_name(string):
    #some regular expression to identify names
    pass

def is_speech(string):
    #some regular expression to identify character's speech
    pass

def parse_movie(movie)   
#   Args:
#     movie is a pandas dataframe of the raw movie script input
#   Output:
#     a dataframe of the form below

    curr_char = None
    line = 0
    title_column=[]
    genre_column=[]
    char_column=[]
    speech_column=[]
    line_column=[] 
    for i in movie.index:
        title_column.append('Avatar') #update this to the filename prior to _dialog.txt
        genre_column.append('Adventure') #update this to the folder it's in 
        
        if is_name(movie['RawLine']):
            char_column.append(movie['RawLine'])
            
            #starting a new character. hold onto this name for the next lines
            #until you see another new character name
            curr_char = movie["Char"]
            line += 1
            line_column.append(line)
            
        elif is_speech(movie['RawLine']):
            char_column.append(curr_char)
            line_column.append(line)
            speech_column.append(movie['RawLine'])
            
    movie['Title']=title_column
    movie['Genre']=genre_column
    movie['Char']=char_column
    movie['LineID']=line_column
    movie['Speech']=speech_column
        
        
"""
Intermediate dataframe should look something like this:

RawLine                                  Title     Genre      Char   LineID     Speech

JAKE (V.O.)                              Avatar    Adventure  JAKE   1 
They can fix a spinal, if you've got the Avatar    Adventure  JAKE   1          They can fix... 
money. But not on vet benefits, not in   Avatar    Adventure  JAKE   1          money. But not...


And then hopefully we can eventually somehow aggregate by LineID to:

Title   Genre      Char  Speech
Avatar  Adventure  JAKE  They can fix a spinal, if you've got the money. But not on vet...
"""

                                RawLine
0                               <b><!--
1                 </b>if (window!= top)
2       top.location.href=location.href
3                             <b>// -->
4                                  </b>
5            1492: CONQUEST OF PARADISE
6            1492: CONQUEST OF PARADISE
7                                    by
8                        Roselyne Bosch
9                               REVISED
10                   September 23, 1991
11                              CUT TO:
12                              SANCHEZ
13  Your Majesty would wish to know the
14  true facts concerning the island of
15   Hispanola, our first settlement in
16    the New World, and the activities
17   there of your servant, Christopher
18  Columbus, Admiral of the Ocean Sea,
19   Governor of that Island.  You will